@use "base";

button {
  all: unset;
  color: lighten(base.$secondary-color, 20%);
  background-color: (base.$primary-color);
  font-size: 1em;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 2rem;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: lighten(base.$primary-color, 5%);
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  button {
    margin-top: 0;
  }
}

// loading
// This is just to center the spinner

.loading-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.loading {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: base.$secondary-color;
  }
  25% {
    stroke: base.$accent-color;
  }
  50% {
    stroke: base.$secondary-color;
  }
  75% {
    stroke: base.$accent-color;
  }
  100% {
    stroke: base.$secondary-color;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: calc($offset / 4);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

.hidden {
  display: none;
}
