@use "base";

button {
  all: unset;
  color: lighten(base.$secondary-color, 20%);
  background-color: (base.$primary-color);
  font-size: 1em;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 2rem;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
}
