@use "base";

body {
  font-size: 20px;
  background-color: base.$primary-color;
  padding: 2rem;
}

h1 {
  color: base.$secondary-color;
  grid-column: 1/-1;
  font-size: 3em;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  color: base.$secondary-color;
  font-weight: 300;
  grid-column: 1/-1;
  padding: 2rem 0;
}

.form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5em;
  margin-inline-start: 10vw;
}
form * {
  display: block;
}
form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 2em;
  border-radius: 5px;
  background-color: base.$secondary-color;
  background-color: rgb(146 220 229 / 95%);

  box-shadow: 0 0.125rem 1rem rgb(27 40 50 / 4%), 0 0.125rem 2rem rgb(27 40 50 / 8%),
    0 0 0 0.0625rem rgb(27 40 50 / 2%);
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    height: 60px;
  }
  legend {
    font-size: 1.8em;
    font-weight: 400;
    color: base.$primary-color;
    margin-bottom: 2rem;
  }

  label {
    font-weight: 400;
    font-size: 1.1em;
    color: base.$primary-color;
    width: 30%;
  }

  input,
  input:focus,
  select {
    all: unset;
    font-size: 1.5rem;
    border-bottom: 2px solid base.$primary-color;
    width: 70%;
  }

  input:focus + label {
      font-weight: 600;
  }

  select:focus:not(:placeholder-shown) {
    background-color: base.$primary-color;
    color: base.$accent-color;
  }
}

article {
  width: 90%;

  h3 {
    // background-color: base.$secondary-color;
    // color: base.$primary-color;
    color: base.$accent-color;

    padding: 0.5rem;
    border-radius: 5px;
    width: 20ch;
  }
  p {
    margin-top: 1rem;
    color: base.$secondary-color;
    line-height: 1.5em;
    width: 25ch;
  }
}

// MEDIA QUERIES

// MIN
@media screen and (min-width: 1600px) {
  body {
    // background-color: hotpink;
    font-size: 24px;
  }
  article {
    width: 70%;
  }
}

// MAX

@media screen and (max-width: 1350px) {
  body {
    // background-color: aqua;
    font-size: 18px;
  }
  article {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  body {
    // background-color: plum;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    // background-color: blue;
    font-size: 10px;
    padding: 1rem;
  }
}
