$primary-color: #2b2d42;
$secondary-color: #92dce5;
$accent-color: #f7f9f5;

// RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

// STYLING

body {
  font-size: 20px;
  background-color: $primary-color;
  padding: 2rem;
}

h1 {
  color: $secondary-color;
  grid-column: 1/-1;
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
  color: $secondary-color;
  font-weight: 100;
  grid-column: 1/-1;
  padding: 2rem 0;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
form * {
  display: block;
}
form {
  grid-column: 2/3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  // padding: 2em;

  legend {
    font-size: 1.5em;
    font-weight: 100;
    color: $accent-color;
  }

  label {
    font-weight: 100;
    font-size: 1em;
    padding-top: 1rem;
    color: $secondary-color;
  }

  input,
  select {
    height: 40px;
    font-size: 1.1em;
  }

  button {
    all: unset;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 1em;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 5px;
    margin-top: 2rem;
  }
}

article{
  width: 90%;
  h3{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0.5rem;
  }
  p{
    margin-top: 1rem;
    color: $secondary-color;
    line-height: 1.5em;
  }
}

// MQ
@media screen and (min-width: 1600px) {
  body {
    // background-color: hotpink;
    font-size: 24px;
  }
  article{
    width: 70%;
  }
}

@media screen and (max-width: 1350px) {
  body {
    // background-color: aqua;
    font-size: 18px;
  }
  article{
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  body {
    // background-color: plum;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    // background-color: blue;
    font-size: 10px;
    padding: 1rem;
  }
}
